body {
	font-family: 'Roboto', sans-serif;
}

.pink {
	color: #FFABE1;
}

.page-wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	transition: all 0.4s;
	border-radius: 0px;
	display: flex;
	flex-direction: column;
}

.box-container {
	margin: 2rem auto;
	background-color: #FFF;
	border-radius: 6px;
	width: 90%;
	height: 16rem;
	box-shadow: rgba(40, 40, 40, 0.35) 0px 5px 15px;
}

.landing-container {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.round-button {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	z-index: 4;
}

.round-button-two {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	z-index: 4;
}

.menu-button {
	top: 1rem;
	left: 1rem;
}

.people-button {
	top: 1rem;
	right: 1rem;
}

.share-button {
	right: 1rem;
	bottom: 1rem;
}

.settings-button {
	bottom: 1rem;
	left: 1rem;
}

.checkbox {
	display: none;
}

.nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: -60vw;
	z-index: 2;
	opacity: 0;
	width: 46%;
	transition: all .4s;
}

.list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: right;
	width: 100%;
	padding-left: 1rem;
}

.item {
	margin: 1rem;
	font-size: 1rem;
	color: black;
}

.link:link,
  .link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
	background-size: 220%;
	transition: all 0.4s;
}

.link:hover,
  .link:active {
	cursor: pointer;
}

.checkbox:checked ~ .nav {
	opacity: 1;
	width: 46%;
	left: 0;
}

.checkbox:checked ~ .landing-container {
	visibility: hidden;
}

.hide {
	top: 25%;
	left: 49%;
	width: 48.5%;
	height: 50vh;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 20px;
	z-index: 8;
	overflow: hidden;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: all .4s;
	left: 0;
	width: 100%;
	margin-top: -16rem;
}

.logo-image {
	width: 18rem;
}

.social-media-container {
	width: 100%;
	position: absolute;
	bottom: -4em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	gap: 0.6rem;
	transition: all .4s;
	z-index: 4;
}

.show-social-media {
	bottom: 1em;
}

.show-logo {
	margin-top: -2rem;
}

.control-dock {
	margin-top: 20rem;
	padding: 2rem;
	background-color: #FFF;
	border-radius: 10px 10px 0 0;
}

.user-image-container {
	height: 220px;
	width: 220px;
	background-color: rgba(200, 200, 200, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-top: 2rem;
}

.user-image {
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/ui/IMG_0760.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 50%;
}