@font-face {
	font-family: "Bold-UI";
	src: url("/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Light-UI";
	src: url("/assets/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
	font-family: "Regular-UI";
	src: url("/assets/fonts/Montserrat-Regular.ttf");
}

body {
	font-family: 'Regular-UI', sans-serif;
}

.pink {
	color: #FFABE1;
}

.page-wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	transition: all 0.4s;
	border-radius: 0px;
	display: flex;
	flex-direction: column;
}

.box-container {
	margin-top: 2rem;
	background-color: rgba(200, 200, 200, 0.3);
	border-radius: 6px;
	width: 90%;
}

.box-container-internal {
	margin: 0 auto;
	margin-top: 2rem;
	background-color: #FFF;
	border-radius: 6px;
	width: 90%;
	margin-bottom: 1rem;
	padding: 0.4rem;
}

.landing-container {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.round-button {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	z-index: 4;
}

.round-button-two {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	z-index: 4;
}

.menu-button {
	top: 1rem;
	left: 1rem;
}

.people-button {
	top: 1rem;
	right: 1rem;
}

.share-button {
	right: 1rem;
	bottom: 1rem;
}

.settings-button {
	bottom: 1rem;
	left: 1rem;
}

.checkbox {
	display: none;
}

.nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: -60vw;
	z-index: 2;
	opacity: 0;
	width: 46%;
	transition: all .4s;
}

.list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: right;
	width: 100%;
	padding-left: 1rem;
}

.item {
	margin: 1rem;
	font-size: 1rem;
	color: black;
}

.link:link,
  .link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
	background-size: 220%;
	transition: all 0.4s;
}

.link:hover,
  .link:active {
	cursor: pointer;
}

.checkbox:checked ~ .nav {
	opacity: 1;
	width: 46%;
	left: 0;
}

.checkbox:checked ~ .landing-container {
	visibility: hidden;
}

.hide {
	top: 25%;
	left: 49%;
	width: 48.5%;
	height: 50vh;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 20px;
	z-index: 8;
	overflow: hidden;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: all .4s;
	left: 0;
	width: 100%;
	margin-top: -16rem;
}

.logo-image {
	width: 18rem;
	z-index: 40;
}

.social-media-container {
	width: 100%;
	position: absolute;
	bottom: -4em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	gap: 0.6rem;
	transition: all .4s;
	z-index: 4;
}

.show-social-media {
	bottom: 1em;
}

.show-logo {
	margin-top: -2rem;
}

.control-dock {
	margin-top: 20rem;
	padding: 2rem;
	background-color: #FFF;
	border-radius: 10px 10px 0 0;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.user-image-container {
	height: 180px;
	width: 180px;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-top: 2rem;
	z-index: 1;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-image {
	width: 80%;
	height: 80%;
	background-image: url('/assets/images/ui/larua.JPG');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

h1 {
	font-family: 'Bold-UI', sans-serif;
	color: rgba(20, 20, 20, 1);
	font-weight: 700;
	font-size: 1.6rem;
}

h2 {
	color: #937DC2;
	font-family: 'Light-UI', sans-serif;
	margin-top: 1rem;
	font-weight: 700;
}

.box {
  background-color: #937DC280;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.content-line {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.content-key {
	color: rgba(180, 180, 180, 1);
	font-size: 1rem;
}

.content-value {
	font-size: 1rem;
}

.content-value-header {
	color: #000;
	font-size: 0.8rem;
}